<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.joe.chill"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>


        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <provider android:authorities="com.facebook.app.FacebookContentProvider223674741353538"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    <activity android:name=".activities.ProfileSettingsActivity"/>
    <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MatchDetailActivity" />
        <activity android:name=".activities.PrivateMessageActivity"></activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    <activity android:name=".activities.ChatListActivity"></activity>
  </application>

</manifest>
